<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	<composite:interface/>
    <composite:implementation>
		<p:ajaxStatus onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"/>
		<p:dialog modal="true" widgetVar="statusDialog" showHeader="false" draggable="false" closable="false" resizable="false" hideEffect="fade">
			<center>
				<h:outputText value="Processing. Please wait..."/>
				<br/>
				<p:graphicImage value="/resources/images/loading.gif" style="margin: 10px;"/>
			</center>
		</p:dialog>
    </composite:implementation>
</html>