<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:composite="http://xmlns.jcp.org/jsf/composite/components" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Analyzer - Websites</title>

	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
	<link href="#{request.contextPath}/resources/css/normalize.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/style.css" rel="stylesheet" />
	<style type="text/css">
		.myField.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
			font-size: 26px;
			display: block;
			width: 100%;
			height: 100%;
			padding: 5px 10px;
			background: none;
			background-image: none;
			border: 1px solid #a0b3b0;
			box-shadow:  none;
			color: #ffffff;
			border-radius: 0;
			-webkit-transition: border-color .25s ease, box-shadow .25s ease;
			transition: border-color .25s ease, box-shadow .25s ease;
		}
		.selectedDepthDivider {
		  list-style: none;
		  padding: 0;
		  margin: 0 0 40px 0;
		}
		
		.ui-selectonemenu-label {
			left: 0px;
			margin-top: -7px;
		}
		
		.ui-selectonemenu {
		    display: inline-block;
		    position: relative;
		    width: auto;
		    zoom: 1;
		    cursor: pointer;
		    padding-right: 2em;
		    margin-left: 80px;
		    margin-top: 5px;
		}
		
		 .ui-selectonemenu .ui-selectonemenu-label {
		 	width: 74px;
		 	margin-left: -2px;
		 }
		
		.ui-icon-triangle-1-s {
    		background-position: -67px -16px;
		}
		
	</style>
	<script src="#{request.contextPath}/resources/js/modernizr.custom.js"></script>
</h:head>
<h:body>
	<composite:ajax-loading-indicator />
	<div class="form">
		<div class="">
			<div id="forgot-password">
				<h1>Forgot Password</h1>
				<span><p:messages id="messages_1" showSummary="false" showDetail="true" escape="false" autoUpdate="false" closable="true" /></span>
				<h:form id="form_1">
					<div class="field-wrap">
						<p:inputText size="20" styleClass="myField" maxlength="80" value="#{forgotPasswordJsfController.text['email']}" required="false" requiredMessage="Email Required" placeholder="Your email" style="margin-bottom: 1px; margin-left: 1%; margin-right: 1%;" />
					</div>
					
					<p:commandButton value="Send Password" action="#{forgotPasswordJsfController.doSendPassword}" type="submit" class="button button-block" update=":messages_1 :form_1" style="margin-left: 4px;"></p:commandButton>
					<div style="height: 8px;" />
				</h:form>
				<h3><a href="#{request.contextPath}/">Register</a></h3>
			</div>
		</div>
	</div>
</h:body>
</html>