<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
	<composite:ajax-loading-indicator />
	<div class="container" style="width: 90%; margin: 0 auto;">
		<div>
			<H1>
				Registration succeeded. We are still crawling your website. <BR />
				We will send you an email for your password.
			</H1>
		</div>
	</div>
</h:body>
</html>