<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
	<link href="#{request.contextPath}/resources/css/normalize.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/style.css" rel="stylesheet" />
	<style type="text/css">
		.myField.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
			font-size: 26px;
			display: block;
			width: 100%;
			height: 100%;
			padding: 5px 10px;
			background: none;
			background-image: none;
			border: 1px solid #a0b3b0;
			box-shadow:  none;
			color: #ffffff;
			border-radius: 0;
			-webkit-transition: border-color .25s ease, box-shadow .25s ease;
			transition: border-color .25s ease, box-shadow .25s ease;
		}
	</style>
	<title>Internal Linking Tool</title>
</h:head>
<h:body>
	<div class="form">
		<div class="">
			<div id="login">
				<h1>Log In</h1>
				<p:messages id="messages_1" showSummary="false" showDetail="true" autoUpdate="true" closable="true"/>
				<h:form id="login_form">
						<div class="field-wrap">
							<p:inputText id="email_form" type="email" autocomplete="off" styleClass="myField" value="#{customerLoginJsfController.text['email']}" required="true" requiredMessage="Email is required"  placeholder="Email *"/>
						</div>
						<div class="field-wrap">
							<p:password type="password" styleClass="myField" autocomplete="off" value="#{customerLoginJsfController.text['password']}" required="true" requiredMessage="Password is required"  placeholder="Password *"/>
						</div>
					<p:commandButton value="Go" action="#{customerLoginJsfController.doLogin()}" type="submit" class="button button-block" update=":messages_1 :login_form"/>
				</h:form>
			</div>
			<div>
				<h3><a href="#{request.contextPath}">Register</a></h3>
			</div>
			<div>
				<h3><a href="#{request.contextPath}/forgot-password">Forgot Password</a></h3>
			</div>
		</div>
	</div>
</h:body>
</html>
