<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:composite="http://xmlns.jcp.org/jsf/composite/components" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Analyzer - Keywords</title>

	<link href="#{request.contextPath}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/main.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/font-awesome.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/animate-custom.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css' />
	<script src="#{request.contextPath}/resources/js/modernizr.custom.js"></script>
</h:head>
<h:body>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 centered">
				<span style="display: inline-block;"> <p:messages id="messages_1" showSummary="false" showDetail="true" escape="false" autoUpdate="false" closable="true" />
				</span>
				<h:form id="form_1">
					<p:commandButton value="LOG OUT" action="#{keywordsJsfController.doLogout}" ></p:commandButton>
					<h:panelGroup rendered="#{keywordsJsfController.showForm_1}">
						<h3>Input Keywords</h3>
						<p:panelGrid style="width: 100%;">
							<p:row>
								<p:column style="width: 200px; height: 44px;">
									<h:outputText value="Website" />
								</p:column>
								<p:column style="text-align: left;" colspan="2">
									<img src="https://www.google.com/s2/favicons?domain=#{keywordsJsfController.text['url']}" width="16" height="16" style="margin: 0px 4px 4px;" onerror="this.onerror=null;this.src='#{request.contextPath}/resources/images/nofavicon.png';" />
									<h:outputText value="#{keywordsJsfController.text['url']}" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="width: 200px;" rowspan="4">
									<h:outputText value="Keywords" />
								</p:column>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[0]}" style="width: 100%;" />
								</p:column>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[1]}" style="width: 100%;" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[2]}" style="width: 100%;" />
								</p:column>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[3]}" style="width: 100%;" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[4]}" style="width: 100%;" />
								</p:column>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[5]}" style="width: 100%;" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[6]}" style="width: 100%;" />
								</p:column>
								<p:column style="text-align: left;">
									<p:inputText value="#{keywordsJsfController.keywords[7]}" style="width: 100%;" />
								</p:column>
							</p:row>
						</p:panelGrid>
						<p:commandButton value="Analyze" action="#{keywordsJsfController.doAnalyze}" update=":form_1 :form_2 :messages_1" style="margin-top: 4px; margin-left: 4px;"></p:commandButton>
						<p:commandButton value="Clear" action="#{keywordsJsfController.doClear}" update=":form_1 :form_2 :messages_1" style="margin-top: 4px; margin-left: 4px;"></p:commandButton>
						<a href="#{request.contextPath}/website-crawler" >Back to Home</a>&#160;
					</h:panelGroup>
				</h:form>
				<h:form id="form_2">
					<h:panelGroup rendered="#{keywordsJsfController.showForm_2}">
						<h3>Results</h3>
						<p:tabView value="#{keywordsJsfController.results}" var="result" scrollable="true">
							<p:tab title="#{result.keyword}">
								<p:dataTable var="row" value="#{result.websites}">
									<p:column headerText="URL">
										<a href="#{row.url}" target="_blank">
											<h:outputText value="#{row.url}" style="display: inline-block; width: 100%; text-align: left;" />
										</a>
									</p:column>
									<p:column headerText="Depth" style="width: 80px;">
										<h:outputText value="#{row.depthCount}" style="display: inline-block; width: 100%; text-align: center;" />
									</p:column>
									<p:column headerText="Total Internal Links" style="width: 80px;">
										<h:outputText value="#{row.totalInternalLinks}" style="display: inline-block; width: 100%; text-align: center;" />
									</p:column>
									<p:column headerText="Total External Links" style="width: 80px; font-size: 95%;">
										<h:outputText value="#{row.totalExternalLinks}" style="display: inline-block; width: 100%; text-align: center;" />
									</p:column>
								</p:dataTable>
							</p:tab>
						</p:tabView>
					</h:panelGroup>
				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>