<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:composite="http://xmlns.jcp.org/jsf/composite/components" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Analyzer - Websites</title>

	<link href="#{request.contextPath}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/main.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/font-awesome.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/animate-custom.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css' />
	<script src="#{request.contextPath}/resources/js/modernizr.custom.js"></script>
</h:head>
<h:body>
	<composite:ajax-loading-indicator />
	<div class="container" style="width: 90%;margin: 0 auto;">
		<div class="row">
			<div class="col-md-12 centered">
				<span style="display: inline-block;"> <p:messages id="messages_1" showSummary="false" showDetail="true" escape="false" autoUpdate="false" closable="true" />
				</span>
				
				<h:form id="form_1">
					<h:outputText value="Crawl Depth" style="margin-right: 8px;"/>
					
					<p:selectOneMenu id="depth" value="#{websiteCrawlerJsfController.depth}" style="width: 70px; margin-right: 4px; vertical-align: top;">
						<p:ajax listener="#{websiteCrawlerJsfController.onDepthChange}" update="depth" global="false" />
						<f:selectItems value="#{websiteCrawlerJsfController.numberOfDepths}" />
					</p:selectOneMenu>
					
					<p:inputText size="15" maxlength="4" value="#{websiteCrawlerJsfController.text['customDepth']}" required="false" requiredMessage="Depth must be digit" placeholder="Other depth size" style="margin-bottom: 1px; margin-right: 1%;" />
					<p:inputText size="80" maxlength="255" value="#{websiteCrawlerJsfController.text['url']}" required="false" requiredMessage="Website URL is required" placeholder="Website URL" style="margin-bottom: 1px;" />
					
					<p:commandButton value="Crawl Website" action="#{websiteCrawlerJsfController.doCrawl}" update=":messages_1 :form_1" style="margin-left: 4px;"></p:commandButton>
					<p:commandButton value="LOG OUT" action="#{websiteCrawlerJsfController.doLogout}" ></p:commandButton>
					<div style="height: 8px;" />
					
					<h:panelGroup>
						<p:dataTable id="dataTable_1" var="row" value="#{websiteCrawlerJsfController.websiteLazyDataModel}" paginator="true" rows="100" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" rowsPerPageTemplate="100" resizableColumns="true"
							lazy="true" paginatorPosition="bottom">
							
							<p:column headerText="Date Crawled" style="width: 180px;">
								<h:outputText value="#{row.dateCrawled}" style="display: inline-block; width: 100%; text-align: center; font-size: 93%;" >
									<f:convertDateTime type="date" pattern="dd MMM yyyy hh:mm a"/>
								</h:outputText>
							</p:column>
							
							<p:column headerText="Website URL">
								<img src="https://www.google.com/s2/favicons?domain=#{row.url}" width="16" height="16" style="margin: 0px 4px 4px;" onerror="this.onerror=null;this.src='#{request.contextPath}/resources/images/nofavicon.png';"/>
								<h:outputText value="#{row.url}" style="display: inline-block; width: 100%; text-align: left;" />
							</p:column>
							
							<p:column headerText="Status" style="width: 200px;">
								<h:outputText value="Done" rendered="#{row.isDoneCrawling() eq true}" style="display: inline-block; width: 100%; text-align: center;" />
								<h:outputText value="Processing" rendered="#{row.isDoneCrawling() eq false}" style="display: inline-block; width: 100%; text-align: center;" />
							</p:column>
							
							<p:column headerText="" style="width: 200px;">
								<a href="#{request.contextPath}/search-keywords?websiteId=#{row.id}" target="_blank">Input Keywords</a>&#160;
								<p:commandLink action="#{websiteCrawlerJsfController.doDelete(row.uuID)}" update=":form_1 :messages_1">
									<h:outputText value="Delete"  rendered="#{websiteCrawlerJsfController.isDoneCrawling(row.uuID)}" />
									<f:param name="websiteId" value="#{row.id}" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</h:panelGroup>
				</h:form>
				
			</div>
		</div>
	</div>
</h:body>
</html>